* {
  box-sizing: border-box;
}

header {
  background-color: #30343f;
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 300px;
  height: 50px;
  background-color: #ffd9da;
  border: 2px solid #89023e;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #979292;
  padding: 10px;
  margin: 5px;
}
.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 100px;
}
#addBtn {
  background-color: #89023e;
  color: #ffd9da;
  cursor: pointer;
  border: none;
  padding: 5px;
}
#addBtn:hover {
  background-color: #ffd9da;
  color: #89023e;
}
#clearBtn {
  background-color: #ffd9da;
  color: #89023e;
  cursor: pointer;
  border: none;
  padding: 5px;
}
#clearBtn:hover {
  background-color: #89023e;
  color: #ffd9da;
}
#counter {
  color: #ffd9da;
}
main {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.item {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 10px;
}
